COMMON_DEBUG=False

POSTGRES_DB=fill
POSTGRES_USER=fill
POSTGRES_PASSWORD=fill

PGADMIN_EMAIL=fill
PGADMIN_PASSWORD=fill

REDIS_PASSWORD=devpassword

# NOTE: Separate function references by comma. Example:
# ARQ_BACKGROUND_FUNCTIONS=app.path.example_function, app.tasks.example.other_function
ARQ_BACKGROUND_FUNCTIONS=app.tasks.messaging.send_message
