COMMON_DEBUG=False

POSTGRES_DB=fill
POSTGRES_USER=fill  # Optional, remove if unnecessary
POSTGRES_PASSWORD=fill  # Optional, remove if unnecessary

PGADMIN_EMAIL=fill
PGADMIN_PASSWORD=fill


# NOTE: Separate function references by comma. Example:
# ARQ_BACKGROUND_FUNCTIONS=app.path.example_function, app.tasks.example.other_function
ARQ_BACKGROUND_FUNCTIONS=app.tasks.messaging.send_message
